body{
	background-image: url('images/tactile_noise.png');
}

.logo{
	background-color: green;
}
.Simage{
	background-color: purple;
}
.contactdiv{
	background-color: blue;
}

.goodland{
	text-align:center;
	background-color: orange;
}

.grid-item img {
	width: 100%;
    height: auto;
    max-height: 100%;
}